* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: white;
}

.header-links ul {
    display: flex;
    list-style: none;
}

.header-links ul a {
    text-decoration: none;
}